:root {
  --title-text-color: black;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --background-color: #2f303a;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;

  background: var(--white-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* section {
  padding-bottom: 94px;
  padding-top: 94px;
} */
.Web-header {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: var(--accent-color);
}
.Web-header {
  display: flex;
  margin-right: 93px;
}

.color-logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.head-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.head-list {
  display: flex;
}
.head-list :not(:last-child) {
  margin-right: 50px;
}
.nav-list .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primiry-text-color);
}
.nav-list .link {
  display: flex;
}
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.header .container {
  display: flex;
  align-items: center;
}
.link:hover,
.link:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.contacts {
  margin-left: auto;
}
.link-mail {
  color: var(--secondary-text-color);
}
.link-mail:hover,
.link-mail:focus {
  color: var(--accent-color);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.link-mail {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42;
  color: var(--secondary-text-color);
}
.section {
  padding-top: 94px;
}

.main-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--background-color);
  color: var(--white-color);
}
.main-title {
  padding-top: 200px;
  padding-bottom: 200px;
}
.name-title {
  color: var(--white-color);
  font-family: 'Roboto', 'sans-serif';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}
.name-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.button-main {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
.button-main {
  width: 200px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 4px;
  border: none;
  margin-top: -20px;
}
.button-main:hover,
.button-main:focus {
  background-color: var(--button-bg-color);
  color: var(--primary-text-color);
}
.second-list {
  display: flex;
  width: 1170px;
}

.originality-exp {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.originality-exp {
  width: 270px;
}
.originality-exp :not(:last-child) {
  margin-right: 30px;
}
.originality-list {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
}
.second-title {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.third-title {
  background-color: var(--button-bg-color);
}
.team {
  text-align: center;
}
.name-list {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9p;
}
.profession-list {
  font-family: 'Roboto', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}
.footer {
  background-color: var(--background-color);
}
.footer-list {
  font-family: 'Roboto', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42;
}
.color-footer {
  color: var(--white-color);
  font-family: 'Raleway', 'sans-serif';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.7;
  text-decoration: none;
}
.address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-mail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.button-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--button-bg-color);
  background-color: var(--accent-color);
}
.label-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.article {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
